- if user_signed_in?
  - if current_user.admin?
    = link_to "削除", post_path(post), method: :delete, data: { confirm: "本当に削除して良いですか？" }, class: "btn-circle-border-simple3"
  - else
    - if current_user?(post.user)
      = link_to "編集", edit_post_path(post), locals: { post: post }, class: "btn-circle-border-simple3"
      = link_to "削除", post_path(post), method: :delete, data: { confirm: "本当に削除して良いですか？" }, class: "btn-circle-border-simple3"