%p
  こんにちは、 #{@resource.email}さん！
%p 以下のリンクをクリックすると、パスワードを変更することができます！
%p= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token)
%p もしパスワードを変更しない場合は、このメールを無視してください。
%p リンクにアクセスして新しいパスワードを作成するまで、現在のパスワードは変更されません。